/*
this is assignment 2 for intro to CSS
*/
body{
    background: #000080;
    margin: 2%;
    padding: 10px;
    font-family: Georgia, serif, 'Times New Roman', Times;
    font-size: 140%;
}
header{
    background-color: #ffffff;
    padding: 10px;
    background-image: url(flywheel.jpg);
    background-position: 20px 20px;
    background-repeat: no-repeat;
}
nav a{
    display: inline-block;
    text-decoration: none;
    margin: 2px;
    padding: 5px;
border-radius: 5px;
}
.active{
    color: #ff0;
    font-weight: 200;
}
.right{
    display: inline-block;
}
.left{
    display: inline-block;
    border: 6px solid #f00;
    margin: 0 auto;
}
